/****************************/
/* HEADER */
/****************************/

.header {
  background-color: #e7edde;
  padding: 0 1.6rem;
}

.main-nav {
  position: relative;
  margin: 0 10px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: #224722;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;

  font-size: 3.6rem;
  font-weight: 600;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;

  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #224722;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.2s;

  padding-bottom: 2px;

  border-bottom: 1px transparent solid;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 1px #224722 solid;
}

.main-nav-link.btn-app:link,
.main-nav-link.btn-app:visited {
  padding: 0.8rem 1.4rem;
  border-radius: 100px;
  border: #224722 1px solid;
}

.main-nav-link.btn-app:hover,
.main-nav-link.btn-app:active {
  background-color: #333;
  color: #e7edde;
}

/****************************/
/* HERO */
/****************************/

.section-hero {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 100px;
}

.hero {
  max-width: 111rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.heading-primary {
  font-size: 10.5rem;
  margin-bottom: 3rem;
  font-weight: 600;
  line-height: 10rem;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  line-height: 2.8rem;
}

.btn-app-img {
  width: 15.6rem;
}

.hero-img-box {
  text-align: center;
}

.relative-hero {
  position: relative;
  transform: translateY(16px);
  width: 100%;
}

.hero-img {
  width: 350px;
}

.floating {
  position: absolute;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
  filter: drop-shadow(0px 14px 15px rgba(0, 0, 0, 0.15));
}

.app-icon {
  top: 39%;
  left: -4%;
}

.add-plant-icon {
  top: 61%;
  left: 100%;
}

.menu-bar-icon {
  top: 86%;
  left: 72%;
}

.example {
  background-color: #fff;
}

.hero-img-container {
  display: inline-block;
  position: relative;
}

/****************************/
/* FEATURES */
/****************************/

.section-features {
  padding-bottom: 13.6rem;
}

.feat-subtitle {
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.feat-title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 2.4rem;
}

.feat-description {
  font-size: 1.9rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  font-weight: 500;
}

.download-btn:link,
.download-btn:visited {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  padding: 2rem 3.2rem;
  background-color: #224722;
  color: #e0ffc0;
  text-decoration: none;
  border-radius: 100px;

  transition: all 0.3s;
}

.download-btn:hover,
.download-btn:active {
  color: #f0ffe0;
  background-color: #142b14;
}

/* .feat-img-box {
  width: 100%;
  height: 100%;
} */

.feat-img-box-1 {
  position: relative;
  border-radius: 0 0 250px 0;
  overflow: hidden;
}

.feat-img-container-1 {
  background-image: url("../img/feature-imgs/feature_1.webp");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.img-description-1 {
  position: absolute;

  background-color: #fff;
  padding: 1.2rem 1.2rem;

  top: 4%;
  left: 4%;

  width: 22.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 150px;
}

.img-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.img-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.feat-img-box-2 {
  position: relative;
  border-radius: 600px;
  /* overflow: hidden; */
}

.feat-img-container-2 {
  border-radius: 600px;
  background-image: url("../img/feature-imgs/feature_2.webp");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.img-description-2 {
  position: absolute;

  background-color: #fff;
  padding: 1.2rem 1.2rem;

  top: 4%;
  left: 0;

  width: 19.1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 150px;
}

.feat-img-box-3 {
  position: relative;
  border-radius: 0 400px 400px 0;
  overflow: hidden;
}

.feat-img-container-3 {
  background-image: url("../img/feature-imgs/feature_3.webp");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.img-description-3 {
  position: absolute;

  background-color: #fff;
  padding: 1.2rem 1.2rem;

  top: 85%;
  left: 4%;

  width: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 150px;
}

.feat-img-box-4 {
  position: relative;
  /* border-radius: 120px 120px 120px 120px; */
  /* overflow: hidden; */
}

.feat-img-container-4 {
  border-radius: 120px 120px 120px 120px;
  background-image: url("../img/feature-imgs/feature_4.webp");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.img-description-4 {
  position: absolute;

  background-color: #fff;
  padding: 1.2rem 1.2rem;

  top: 11%;
  left: -11%;

  width: 24.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 150px;
}

/****************************/
/* REVIEWS */
/****************************/

.section-reviews {
  padding-bottom: 13.6rem;
}

.app-rating-container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  /* align-items: center; */

  margin-bottom: 8rem;
}

.platform-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: #d9e7cb;
  padding: 1rem 2.4rem;

  border-radius: 50px;
}

.app-logo {
  width: 2.2rem;
  height: 2.2rem;
}
.app-name {
  font-size: 1.8rem;
  font-weight: 500;
}
.app-rating {
  font-size: 1.8rem;
  font-weight: 700;
}

.slide-container {
  max-width: 108.8rem;
  /* height: 25.5rem; */

  padding: 0 1.5rem;

  margin: 0 auto;
  margin-bottom: 2.4rem;

  overflow: visible;
}

/* .card-wrapper {
  background-color: #fff;
  padding: 2.4rem;
  height: 100%;

  border-radius: 20px;

  box-sizing: border-box;
} */

.card {
  background-color: #fff;
  padding: 2.4rem;

  height: 25.5rem;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-short {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.review-long {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.user-rating {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: auto;
}

.user {
  font-size: 1.6rem;
  font-weight: 500;
}

.rating {
  font-size: 2.4rem;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-pagination {
  bottom: -4.5rem !important;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: #224722 1px solid;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #224722;
}

/****************************/
/* GALLERY */
/****************************/

.gallery-container {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1.4fr 1.1fr;
  grid-template-rows: repeat(2, 264px);
  gap: 1.6rem;
}

.cacti {
  background-color: darkgoldenrod;
  border-radius: 0 0 250px 0;
  overflow: hidden;
}

.vegetables {
  background-color: red;
  grid-column: 2 / 4;
  border-radius: 250px;
  overflow: hidden;
}

.herbs {
  background-color: yellow;
  border-radius: 40px 40px 40px 0;
  overflow: hidden;
}

.orchids {
  background-color: plum;
  grid-column: 5 / -1;
  grid-row: 1 / -1;
  border-radius: 0 0 250px 0;
  overflow: hidden;
}

.foliage {
  background-color: hotpink;
  grid-column: 1 / 4;
  border-radius: 0 200px;
  overflow: hidden;
}

.flowering {
  border-radius: 40px 0 40px 40px;
  background-color: darkorange;
  overflow: hidden;
}

.img-bg-container {
  text-decoration: none;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;

  padding: 1.6rem;
}

.title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}

.gal-icon {
  color: #fff;
  width: 6rem;
  height: 6rem;
  transform: translate(-1rem, 1rem);
}

.gal-icon-unique {
  color: #fff;
  width: 6rem;
  height: 6rem;
}

.gal-icon-unique-2 {
  color: #fff;
  width: 6rem;
  height: 6rem;
  transform: translate(1rem, 1rem);
}

.img1 {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.25),
      rgba(41, 41, 41, 0.25)
    ),
    url("../img/gallery-imgs/cacti.webp");
}

.img2 {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.25),
      rgba(41, 41, 41, 0.25)
    ),
    url("../img/gallery-imgs/vegetables.webp");
}

.img3 {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.25),
      rgba(41, 41, 41, 0.25)
    ),
    url("../img/gallery-imgs/herbs.webp");
}

.img4 {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.25),
      rgba(41, 41, 41, 0.25)
    ),
    url("../img/gallery-imgs/orchids.webp");
}

.img5 {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.25),
      rgba(41, 41, 41, 0.25)
    ),
    url("../img/gallery-imgs/foliage.webp");
}

.img6 {
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.25),
      rgba(41, 41, 41, 0.25)
    ),
    url("../img/gallery-imgs/flowering.webp");
}
